* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 1.5;
  background-color: #edf2f7;
  margin: 0;
}
  
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* Убирает подчеркивание в списках */
ul { list-style: none;}

/* Убирает точки в списках */
.link { 
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #edf2f7;
}

.link:hover,
.link:focus{
color: #e4c052;
}


img {
  display: block;
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 0;
  border: 2px dashed #2a2a2a;
  display: flex;
  gap: 60px;
  background: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.nav-information{
  flex-basis: 300px;
  justify-content: center;
  background-color: rgb(65, 65, 89);
  color: #edf2f7;
  padding: 0px 20px;
}

.main{
  flex-grow: 1;
}

.header{
  padding-top: 20px;
  padding-left: 30px;

}

.foto_N{
  display: block;
  border-radius: 100px;
 background-position: 50% 50%;
	width: 200px;
	height: 200px;
	border: 1px solid black;
}

/* .title{
margin: 0;
padding: 15px 0 10px 0; 
} */

.title-contacts, .title{
padding: 30px 0 12px 0;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
}

.title-university{
padding-left: 10px;
padding-bottom: 10px;
font-weight: 500;
font-size: 19px;
line-height: 20px;
}

.navigation-item,
.link{
font-weight: 500;
font-size: 15px;
line-height: 24px;
padding-left: 10px;
}

p{
font-weight: 400;
font-size: 12px;
line-height: 15px;
padding-bottom: 10px;
}

.soft{
  padding-bottom: 40px;
}

.hero-title{
font-weight: 700;
font-size: 45px;
line-height: 55px;
padding: 150px 0 22px 0;
}

.position-title,
.experience-title{
font-weight: 700;
font-size: 22px;
line-height: 27px;
padding-bottom: 8px;
}

.experience-title{
  padding-bottom: 15px;
}

.experience-title{
  padding-top: 15px;
}

.hero-text{
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.position-title{
font-weight: 700;
font-size: 16px;
line-height: 21px;
}

.company-title{
font-weight: 500;
font-size: 16px;
line-height: 24px;
}

.period{
font-weight: 400;
font-size: 12px;
line-height: 15px;
}

.experience{
font-weight: 400;
font-size: 14px;
line-height: 19px;
}

.experience-company{
  padding-bottom: 15px;
}